h1 {
  text-align: center;
}

.display {
  background-color: rgb(201, 201, 201);
  padding: 18px;
  text-align: right;
  margin: 150px 0 0 550px;
  font-size: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 250px;
  height: 400px;
}

button {
  padding: 10px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-size: 24px;
  background-color: rgba(168 168 168);
}

button:focus {
  outline: none;
}

button:hover {
  background-color: rgba(139 139 139);
  cursor: pointer;
}

#r1-1 {
  width: 105px;
}
#r5-1 {
  width: 105px;
}

@media (max-width: 952px) {
  h1 {
    font-size: 30px;
    text-align: center;
    transition: all 0.5s;
  }

  .display {
    margin: 120px 0 0 330px;
    transition: all 0.5s;
  }
}

@media (max-width: 600px) {
  .display {
    margin: 90px 0 0 200px;
  }
}
